<h1>One Cat Here to SEE!</h1>


<!-- <h2>Name: <%#= @cat.name %></h2>
<p>Birth Date: <%#= @cat.birth_date %></p>
<p>Color: <%#= @cat.color %></p>
<p>Sex: <%#= @cat.sex %></p>
<p>Description: <%#= @cat.description %></p> -->
<table>
  <tr>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
